.bf-card {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .img-wrapper {
    overflow: hidden;
  }

  .bf-bg-img {
    display: block;
    transition: all 0.3s;
    width: 100%;
  }

  &.useShowStyle {
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background: #f0f7f0;

      .bf-bg-img {
        transform: scale(1.15);
      }
    }
  }

  .bf-info-content {
    padding: 8px 12px;

    .title-info {
      .bf-title {
        font-family: PingFangSC-Medium;
        font-size: 16px;
        color: #071607;
        margin: 8px 0;
      }

      .bf-title-other-ifno-content {
        border-bottom: 1px solid #d6d6d6;
        display: flex;
        justify-content: space-between;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #323632;
      }
    }
  }

  .bottom-title-info {
    margin-top: 12px;

    .picture-info {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #323632;
      margin: 10px 0;

      .pic-top {
        .user {
          margin: 0 5px;
        }

        .time {
          margin-left: 5px;
        }

        margin-bottom: 3px;
      }
    }

    .bf-type-breadcrumb {
      font-family: PingFangSC-Light;
      font-size: 14px;
      color: #323632;
      line-height: 18px;
    }
  }
}
