.baike-page {
  .top-content {
    display: flex;

    .left-menu {
      padding-top: 21px;
      border-right: 1px solid rgba(0, 0, 0, 0.5);
      min-height: 600px;

      .ant-menu-vertical {
        z-index: 3;
        .ant-menu-submenu-vertical .ant-menu-submenu-title {
          z-index: 3;
        }
      }
    }

    .right-content {
      padding-top: 21px;
      margin-left: 16px;
      flex: 1;
    }

    .right-content {
      .right-cards-list {
        display: flex;
        flex-wrap: wrap;

        .mask-card {
          margin-bottom: 16px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            .text-content {
              transform: scale(1.15);
            }
          }

          .text-content {
            font-family: PingFangSC-Medium;
            font-size: 20px;
            color: #ffffff;
            line-height: 1.4;
            text-align: center;
            transition: all 0.4s;
          }
        }

        .mask-card:nth-child(odd) {
          margin-right: 16px;
        }
      }
    }
  }

  .footer {
    .bottom-content {
      padding: 10px 30px;

      .footer-title {
        text-align: center;
        font-family: PingFangSC-Regular;
        font-size: 20px;
        color: #071607;
        margin-top: 30px;
        margin-bottom: 20px;
      }

      .footer-cards-list {
        display: flex;

        .mask-card:not(:last-child) {
          margin-right: 16px;
        }

        .mask-card {
          display: flex;
          align-items: flex-end;
          justify-content: center;

          &:hover {
            .text-content {
              transform: scale(1.15);
            }
          }

          .text-content {
            margin-bottom: 20px;
            font-family: PingFangSC-Medium;
            font-size: 14px;
            color: #ffffff;
            text-align: center;
            line-height: 18px;
            transition: all 0.4s;
            z-index: 2;

            .latinname-tips {
              margin-top: 12px;
              font-family: PingFangSC-Light;
              font-size: 8px;
              color: #ffffff;
              text-align: center;
              line-height: 12px;
            }
          }
        }
      }
    }
  }
}
