.App {
  position: relative;
  .main-page-img {
    position: absolute;
    z-index: 1;

    img {
      width: 210px;
      margin-left: 44px;
    }
  }

  .ant-menu-horizontal {
    text-align: center;

    .ant-menu-item-only-child:not(:last-child) {
      margin-right: 80px;
    }
  }

  .nav-content {
    position: relative;
    z-index: 2;

    &:after {
      content: " ";
      width: 280px;
      height: 1px;
      background: white;
      position: absolute;
      top: 47px;
      left: 0;
      z-index: 0;
    }
  }
}
